%mainContainer {
    max-width: 1180px;
    margin: auto;
}

%text400-14-22 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

%text400-18-29 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

%text500-14-14 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}

%text500-36-58 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 58px;
}