.footer {

    background: #FAFAFA;

    &__container {
        @extend %mainContainer;
        padding: 30px 5px;
    }

    &__container-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1035px) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__left-block {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @media screen and (max-width: 820px) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__logo-link {
        display: flex;
        align-items: center;

        &:hover .logo {
            fill: #768298;
        }

        &:hover #logo-1 {
            fill: #F95A59;
        }
    }

    &__icon-wrap {
        width: 165px;
        height: 40px;
        border-left: 1px solid #BBC4D6;
        border-right: 1px solid #BBC4D6;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    &__youtube-link {

        &:hover #youtube {
            fill: #768298;
        }
    }

    &__instagram-link {

        &:hover #instagram {
            fill: #768298;
        }
    }

    &__list {
        max-width: 407px;
        list-style-type: none;
        @extend %text500-14-14;
        color: #34AADD;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @media screen and (max-width: 435px) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__link {
        text-decoration: none;
        border: 1px solid transparent;

        &:hover {
            //text-decoration: underline;
            border-bottom: 1px solid #34AADD;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__btn {
        width: 199px;
        height: 50px;
        background: #34AADD;
        border: transparent;
        border-radius: 5px;
        @extend %text500-14-14;
        color: #FFFFFF;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &:hover {
            background: #6680AE;
        }

        &:active {
            background: #BBC4D6;
        }

        &:disabled {
            background: #EBEBF1;
        }
    }
}