.goods {

    &__container {
        @extend %mainContainer;
        padding: 90px 5px;

        @media screen and (max-width: 1185px) {
            padding: 50px 5px;
        }
    }

    &__title {
        @extend %text500-36-58;
        margin-bottom: 50px;

        @media screen and (max-width: 1185px) {
            text-align: center;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        column-gap: 30px;

        @media screen and (max-width: 1185px) {
            grid-template-columns: repeat(2, 270px);
            justify-content: center;
            gap: 30px;
        }

        @media screen and (max-width:580px) {
            grid-template-columns: 270px;
            gap: 20px;
        }
    }

    &__card-top {
        background-image: url(../images/flower.png);
        width: 100%;
        height: 174px;
        padding: 10px;
    }

    &__card-promo {
        @extend %text400-14-22;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        gap: 3px;
    }

    &__card-action {
        @extend %cardPromo;
        width: 61px;
        background: #FAC300;
    }

    &__card-hit {
        @extend %cardPromo;
        width: 44px;
        background: #DC2C53;
    }

    &__card-price {
        @extend %cardPromo;
        width: 106px;
        background: #A7507B;
    }

    &__card-bottom {
        width: 100%;
        height: 198px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__card-content {
        display: flex;
        flex-direction: column;
    }

    &__card-subtitle {
        @extend %text500-18-25;
        margin-bottom: 5px;

        &:hover {
            color: #34AADD;
            cursor: pointer;
        }
    }

    &__card-text {
        @extend %text400-14-22;
        color: #768298;
    }

    &__buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buy-price {
        width: 48px;
        height: 43px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__buy-past-ptice {
        @extend %text400-14-20;
        color: #768298;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 52px;
            height: 2px;
            background: #F95A59;
            transform: rotate(24deg);
            top: 9px;
            left: -2px;
        }
    }

    &__buy-real-price {
        @extend %text700-16-22;
        color: #121920;
        width: 70px;
    }

    &__buy-cart {
        width: 50px;
        height: 50px;
        border-radius: 6px;
        background: #34AADD;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: #6680AE;
            cursor: pointer;
            box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.05), 2px 2px 8px rgba(0, 0, 0, 0.05);
        }

        &:active {
            background: #BBC4D6;
        }

        &:disabled {
            background: #EBEBF1;
        }
    }

    &__card-top-2 {
        background-image: url(../images/bloger.png);
        width: 100%;
        height: 174px;
        padding: 10px;
    }

    &__buy-price-2 {
        align-self: flex-end;
    }

    &__card-top-3 {
        background-image: url(../images/lamp.png);
        width: 100%;
        height: 174px;
        padding: 10px;
    }

    &__card-top-4 {
        background-image: url(../images/clock.png);
        width: 100%;
        height: 174px;
        padding: 10px;
    }

    &__btn {
        @extend %transparentButton;
        width: 205px;

        @media screen and (max-width: 1185px) {
            margin: auto;
            margin-top: 50px;
        }

        &:hover {
            border-color: #6680AE;
            color: #6680AE;

            #arrow-right {
                fill: #6680AE;
            }
        }

        &:active {
            border-color: #BBC4D6;
            color: #BBC4D6;

            #arrow-right {
                fill: #BBC4D6;
            }
        }

        &:disabled {
            border-color: #EBEBF1;
            color: #EBEBF1;

            #arrow-right {
                fill: #EBEBF1;
            }
        }
    }
}
