.header {

    &__top {
        border-bottom: 1px solid #EBEBF1;
    }

    &__top-inner {
        max-width: 1240px;
        margin: auto;
        padding: 15px 5px 18px;
    }

    &__top-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1060px) {
            flex-wrap: wrap;
            gap: 15px;
            flex-direction: column;
            align-items: center;
        }
    }

    &__top-main {
        max-width: 1040px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 965px) {
            flex-wrap: wrap;
            gap: 15px;
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo {
        width: 135px;
        height: 30px;
    }

    &__search {
        max-width: 660px;
        width: 100%;
        height: 40px;
        padding:9px 20px 9px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: transparent;
        border-radius: 5px;
        background: #FAFAFA;

        &:hover {
            outline: 1px solid #121920;

            ::-webkit-input-placeholder { color: #121920; }
            ::-moz-placeholder          { color: #121920; } /*Firefox 19+*/
            :-moz-placeholder           { color: #121920; } /*Firefox 18-*/
            :-ms-input-placeholder      { color: #121920; };
        }

        &:hover #search-icon {
            fill: #121920;
        }

        &:hover #header-input {
            color: #121920;
        }
    }

    &__input {
        padding-right: 10px;
        outline: none;
        border: none;
        max-width: 600px;
        width: 100%;
        background: #FAFAFA;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: #BBC4D6;

        &:hover {
            color: #121920;
        }
    }

    &__submit {
        width: 16px;
        height: 16px;
        border: none;
        outline: none;
        background: url(../../assets/images/search.svg);
        cursor: pointer;
    }

    &__contact {
        width: 143px;
        height: 51px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: #BBC4D6;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin-right: 10px;


        &:hover #header-call {
            display: none;
            transition: 0.5s;
        }

        &:hover #header-work {
            display: block;
            transition: 0.5s;
        }

        &:hover #header-phone {
            color: #34AADD;
        }
    }

    &__phone {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 160%;
        color: #121920;
        text-decoration: none;
    }

    &__work {
        display: none;
    }

    &__top-btn {
        width: 100px;
        height: 40px;
        background: #34AADD;
        border: transparent;
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #FFFFFF;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover  {
            background: #6680AE;
        }

        &:active {
            background: #BBC4D6;
        }

        &:disabled {
            background: #EBEBF1;
        }
    }
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}
